<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= yield(:title).blank? ? seo_meta_title : yield(:title) %></title>
<%= stylesheet_link_tag 'default.css'%>
<%= yield :additional_styles %>
<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
<%= yield :additional_javascripts %>
</head>
<body>
<div id="header" style="float:inherit"><div style="float:left"> <img src="http://www.tecnotekcr.net/logoTecnotek.png" alt="" width="261" height="74" /></div> 
</div> 
 
<div id="menu"> 
	<ul> 
		<li><a href="index1.php">Home</a></li> 
		<li><a href="master.php">Master</a></li> 
		<li><a href="trades.php">Trades</a></li> 
		<li><a href="conciliacion.php">Conciliacion</a></li> 
		<li><a href="report.php">Reports</a></li> 
		<li><a href="client.php">Clients</a></li> 
		<li><a href="#">About Us</a></li> 
	</ul> 
</div> 
  
<div id="content">
   <%= yield %>
</div>
  
  
<div id="footer">
	<p>Copyright &copy; 211 <%= seo_meta_title %> . Designed by <a href="http://www.freecsstemplates.org" class="link1">Free CSS Templates</a></p>
</div>

</body>
</html>
